.popularMin  {
  display: none;
  padding: 10px; 
  padding-bottom: 50px;
  margin: 0 auto;
   width: 650px;
  /* width: 0; */
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .popularMin {
  bottom: 0px;
}

.swiper-horizontal > .swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet,
.swiper-pagination-horizontal.swiper-pagination-bullets.swiper-pagination-bullets-dynamic .swiper-pagination-bullet .popularMin{
  background-color: black;
  width: 18px;
  height: 18px;
}

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .popularMin {
    display: block; 
  }
}