.reviewSwiper {
    height: 356px;
    background: none;
}

.reviewSwiper .swiper-slide {
    width: 518px;
}

.reviewSwiper .swiper-button-prev,
.reviewSwiper .swiper-button-next {
    bottom: 0px;
}

.reviewSwiper .swiper-button-prev:after,
.reviewSwiper .swiper-rtl .swiper-button-next:after {
    background-color: #8657DD;
}

.reviewSwiper .swiper-button-next:after,
.reviewSwiper .swiper-rtl .swiper-button-prev:after {
    background-color: #8657DD;
}

.reviewSwiper .swiper-button-next:hover:after,
.reviewSwiper .swiper-rtl .swiper-button-prev:hover:after {
    background-color: #A075F0;
}

.reviewSwiper .swiper-button-prev:hover:after,
.reviewSwiper .swiper-rtl .swiper-button-next:hover:after {
    background-color: #A075F0;
}

.reviewSwiper .swiper-pagination-fraction,
.reviewSwiper .swiper-pagination-custom,
.reviewSwiper .swiper-horizontal>.swiper-pagination-bullets,
.reviewSwiper .swiper-pagination-bullets.swiper-pagination-horizontal {
    bottom: 10px;
}

.reviewSwiper .swiper-pagination-fraction {
    color: #8657DD;
    width: fit-content;
}

.swiper-button-lock {
    display: none;
}

@media (max-width:1439.5px) {
    .reviewSwiper {
        height: 280px;
    }

    .reviewSwiper .swiper-slide {
        width: 380px;
    }

    .reviewSwiper .swiper-pagination-fraction,
    .reviewSwiper .swiper-pagination-custom,
    .reviewSwiper .swiper-horizontal>.swiper-pagination-bullets,
    .reviewSwiper .swiper-pagination-bullets.swiper-pagination-horizontal {
        bottom: 5px;
    }
}

@media (max-width:1023.5px) {
    .reviewSwiper {
        height: 215px;
    }

    .reviewSwiper .swiper-slide {
        width: 344px;
        margin: 0 5px 0 20px;
    }

    .reviewSwiper .swiper-pagination-bullets {
        width: 132px;
    }

    .reviewSwiper .swiper-pagination-bullet {
        background-color: #999999;
        opacity: 1;
        width: 14px;
        height: 14px;
    }

    .reviewSwiper .swiper-pagination-bullet-active {
        background-color: #8657DD;
    }
}

@media (max-width:768.5px) {
    .reviewSwiper {
        height: 205px;
        margin: 0px;
    }

    .reviewSwiper .swiper-slide {
        width: 320px;
        margin: 0 0px 0 20px;
    }

    .reviewSwiper .swiper-pagination-bullet {
        background-color: unset;
        border: 1px solid #8657DD;
        opacity: 1;
        width: 12px;
        height: 12px;
    }

    .reviewSwiper .swiper-pagination-bullet-active {
        background-color: #8657DD;
    }
}

@media (max-width:359.5px) {
    .reviewSwiper .swiper-slide {
        width: 100%;
    }
}